#TrainIndex-tabbar-div .am-tab-bar-bar .am-tab-bar-tab-title {font-size:32px; color:#333!important;}
#TrainIndex-searchList .am-list-item .am-list-line .am-list-extra {flex-basis:65%;}
/*tabBar高亮*/
#TrainIndex-tabbar-div .am-tab-bar-bar [data-active="true"] .am-tab-bar-tab-title {
  background: #108ee9;
  color: #fff!important;
  padding: 0.2rem 0.5rem 0.22rem;
  border-radius: 5px;
}
/*直接用ch的样式*/
.sTrain {
  color: #555;
  font-size: 0.5rem;
  padding-bottom: 0.3rem;
}
.sStart {
  padding-bottom: 0.4rem;
}
.sEnd {
  color: #555;
  font-size: 0.5rem;
}
.sRun {
  color: #555;
  font-size: 0.5rem;
  padding-bottom: 0.3rem;
  padding-left: 0.8rem;
  position: relative;
}
.sRun:before {
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  content: "";
  border: 1px solid #000;
  border-radius: 50%;
  left: 0;
  top: 0;
}
.sRun:after {
  width: 0.2rem;
  height: 0.2rem;
  position: absolute;
  content: "";
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  left: 0.1rem;
  top: 0.1rem;
}
.sFrom {
  color: #555;
  font-size: 0.6rem;
  padding-bottom: 0.3rem;
  position: relative;
  padding-left: 0.8rem;
}
.sFrom:before {
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  content: "";
  border-radius: 50%;
  background: #ad1818;
  z-index: 10;
  left: 0.1rem;
  top: 0.15rem;
}
.sFrom:after {
  width: 0.1rem;
  height: 1.2rem;
  position: absolute;
  content: "";
  background: #ccc;
  left: 0.2rem;
  top: 0.15rem;
}
.sTo {
  color: #555;
  font-size: 0.6rem;
  padding-left: 0.8rem;
  position: relative;
}
.sTo:before {
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  content: "";
  border-radius: 50%;
  background: #ad1818;
  z-index: 10;
  left: 0.1rem;
  top: 0.2rem;
}
.sNext {
  width: 0.5rem;
  height: 0.5rem;
  border-top: 0.1rem solid #ccc;
  border-right: 0.1rem solid #ccc;
  transform:rotate(45deg);
  top: 0.9rem;
  right: 0.5rem;
  position: relative;
}
.sBefor {
  width: 0.5rem;
  height: 0.5rem;
  border-top: 0.1rem solid #ccc;
  border-left: 0.1rem solid #ccc;
  transform:rotate(-45deg);
  top: 0.9rem;
  right: 0.5rem;
  position: relative;
}
.sNext-small {
  width: 0.3rem;
  height: 0.3rem;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  transform: rotate(45deg);
  display: inline-block;
  position: relative;
  top: -2px;
}
.sBefore-small {
  width: 0.3rem;
  height: 0.3rem;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  transform: rotate(-45deg);
  display: inline-block;
  position: relative;
  top: -2px;
}
.sDown-small {
  width: 0.3rem;
  height: 0.3rem;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  transform: rotate(45deg);
  top: 0.35rem;
  right: 8%;
  position: absolute;
}
/*searchBar*/
.flex-box.searchBar {
  background: #f5f5f9;
  padding: 0.5rem 0;
  align-items: baseline;
}
.flex-box.searchBar .flex-item {
  padding: 0.2rem 0;
  border: none;
}
#nextDay {
  background: none;
  border: none;
  font-size: 0.6rem;
  padding: 5% 10%;
  margin-right: 5%;
}
#prevDay {
  background: none;
  border: none;
  font-size: 0.6rem;
  padding: 5% 10%;
  margin-left: 5%;
}
#prevDay:active, #nextDay:active {
  color: #07c;
  background: #ddd;
  border-radius: 0.2rem;
}
#showDatepicker {
  text-align: center;
}
#showDatepicker a {
  border: 1px solid #dfdfdf;
  background: #efefef;
  border-radius: 0.2rem;
  height: 1.3rem;
  line-height: 1.3rem;
  display: block;
  position: relative;
}
#showDatepicker img {
  position: relative;
  top: 0.2rem;
  left: -6%;
}
#showDatepicker span {
  position: relative;
  left: -5%;
}
/*flex*/
.flex-box {
  display: flex;
  background: #fff;
}
.flex-item {
  padding:0.5rem 0 0.5rem 0.7rem ;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.flex-grow-1 {
  flex-grow:1;
}
.flex-grow-2 {
  flex-grow:2;
}
.flex-grow-3 {
  flex-grow:3;
}
.flex-grow-4 {
  flex-grow:4;
}
.flex-grow-5 {
  flex-grow:5;
}
.flex-grow-6 {
  flex-grow:6;
}
.flex-grow-7 {
  flex-grow:7;
}
.flex-grow-8 {
  flex-grow:8;
}
.flex-grow-9 {
  flex-grow:9;
}
.flex-grow-10 {
  flex-grow:10;
}
.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
}