#trainInfo .bFrom, #trainInfo .bTo {
  flex-grow: 1;
}
#trainInfo .bFromTime, #trainInfo .bToTime {
  text-align: right;
}
#trainInfo .bFrom2, #trainInfo .bTo2 {
  font-size: 0.6rem;
  color: grey;
  text-align:center;
}
#trainInfo .bFromDate2, #trainInfo .bToDate2 {
  font-size: 0.6rem;
  color: grey;
  text-align:right;
  flex-grow: 4;
}
#trainInfo .bTrain {
  font-size: 0.8rem;
  color: #a31022;
}
#trainInfo .bTime {
  position: relative;
  left: -0.1rem;
  text-align: right;
}
.bTotal {
  color: #d81e06;
  font-size: 1rem;
}
.addOne {
  color: #108ee9;
  text-align: center;
  height: 1.5rem;
  line-height: 1.5rem;
}
.subOne {
  color: #d81e06;
  text-align: center;
  height: 1.5rem;
  line-height: 1.5rem;
}
.addOne:active, .subOne:active {
  background: #f0f0f0;
}
.addOne .addOneIcon, .subOne .subOneIcon {
  width: auto;
  height: auto;
  vertical-align: text-bottom;
  margin-right: 0.3rem;
}
.am-whitespace.fixBook {
  height: 20rem;
}
.ichtModal, .am-modal.am-modal-transparent {
  width: 70%!important;
}
.ichtModal .am-modal-button:active {
  background: #f0f0f0;
}
.detailTime {
  color: #108ee9;
  margin-left: 0.2rem;
  font-size: 0.55rem;
}
.moreIcon {
  width: auto!important;
  height: auto!important;
  vertical-align: text-bottom!important;
}
.imgAutoList img {
  width: auto!important;
  height: auto!important;
}
.imgAutoList .am-list-content {
  padding: 0!important;
}
.clickPayText {
  color: #565656;
  font-size: 0.6rem;
  line-height: 0.9rem;
}
@media (max-width: 640px) {
  .bLongArr img {
    max-width: 82%;
    bottom: 1.8rem;
  }
}
span.sFont {
  font-size: 0.6rem;
}

#guestinfo {
  border: 5px solid darkred;
  padding: 0 0 0.6rem;
  margin: 0.5rem;
  background: lightyellow;
  border-radius: 0.3rem;
}
.passWrap .am-list-item .am-input-control input{
  color: #555;
}
.imgAutoList.forss {
  padding-left: 1.2rem;
}
.imgAutoList .am-list-extra {
  display: none;
}
.passWrap input {
  font-weight: bold;
  font-size: 0.62rem!important;
}
.passWrap input::-webkit-input-placeholder {
  font-weight: normal;
  font-size:inherit;
}
.passWrap input::-moz-placeholder {
  font-weight: normal;
  font-size:inherit;
}
.passWrap input:-ms-input-placeholder {
  font-weight: normal;
  font-size:inherit;
}