.bookPage {
}
#payDiv {
}
#trainInfo .bFrom, #trainInfo .bTo {
}
#trainInfo .bFromTime, #trainInfo .bToTime {
}
#trainInfo .bFromDate, #trainInfo .bToDate {
}
#trainInfo .bFromDate2, #trainInfo .bToDate2 {
  font-size: 0.6rem;
}
#trainInfo .bTrain {
	color: #108ee9;
}
#trainInfo .bTime {
}
.bPay {
}
.bTotal {
	color: #d81e06;
	font-size: 1rem;
}
.addOne {
	width: 100%;
	color: #108ee9;
	text-align: center;
}
.subOne {
  width: 100%;
  color: #d81e06;
  text-align: center;
}
.addOne .addOneIcon, .subOne .subOneIcon {
	width: auto;
    height: auto;
    vertical-align: text-bottom;
    margin-right: 0.3rem;
}
.am-whitespace.fixBook {
	height: 20rem;
}
.ichtModal {
	width: 70%!important;
}
.ichtModal .am-modal-button:active {
	background: #f0f0f0;
}
@media (max-width: 640px) {
	.bLongArr img {
		max-width: 82%;
    	bottom: 1.8rem;
	}
}