/*针对SEO的H1样式，更改为继承父元素。*/
#TrainIndex-h1 {font-size:inherit; font-weight:inherit; margin:inherit;}
.trainPage {}

/*
默认还是使用阿里国际的按钮样式
#TrainIndex-search-btn {
    color: #fff;
    background-color: rgba(219, 87, 51, 1);
    padding: 4px;
    border-radius: 8px;
    box-shadow: 0px 0px 0px rgba(219, 31, 5, 1), 0px 0px 20px rgba(120, 120, 120, .5);
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    transition: all .1s ease;
}
#TrainIndex-search-btn:active {
    box-shadow: 0px 0px 0px rgba(219, 31, 5, 1), 0px 0px 10px rgba(200, 200, 200, .7);
    position: relative;
    top: 2px;
}
*/

/*tabbar*/
#TrainIndex-tabbar-div .am-tab-bar-bar .am-tab-bar-tab-title {font-size:32px; color:#333!important; margin-bottom: 0.1rem;}
/*fix antd-mobile*/
.am-toast-notice {top: 40%;}
.chtBack {
    margin-bottom: -0.15rem;
    left: -8px;
    margin-left: -0.35rem;
}