/*针对SEO的H1样式，更改为继承父元素。*/
#TrainIndex-h1 {font-size:inherit; font-weight:inherit; margin:inherit;}

#TrainIndex-searchList .am-list-item .am-list-line .am-list-extra {
    flex-grow: 1;
}

/*tabbar*/
#TrainIndex-tabbar-div .am-tab-bar-bar .am-tab-bar-tab-title {font-size:32px; color:#333!important; margin-bottom: 0.1rem;}

.chtBack {
    margin-bottom: -0.15rem;
    left: -8px;
    margin-left: -0.35rem;
}

/*fix antd-mobile*/
.am-navbar.am-navbar-dark {
    background-color: #a31022;
}

.am-button-primary {
    background-color: #a31022;
    border: 1PX solid #a31022;
}

.am-button-primary.am-button-active {
    background-color: #931022;
}

.am-toast-notice {top: 40%;}

