/*针对SEO的H1样式，更改为继承父元素。*/
#TrainIndex-h1 {font-size:inherit; font-weight:inherit; margin:inherit;}
#TrainIndex-search-btn {
    color: #fff;
    background-color: rgba(219, 87, 51, 1);
    padding: 4px;
    border-radius: 8px;
    box-shadow: 0px 0px 0px rgba(219, 31, 5, 1), 0px 0px 20px rgba(120, 120, 120, .5);
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    transition: all .1s ease;
}
#TrainIndex-search-btn:active {
    box-shadow: 0px 0px 0px rgba(219, 31, 5, 1), 0px 0px 10px rgba(200, 200, 200, .7);
    position: relative;
    top: 2px;
}
#TrainIndex-tabbar-div .am-tab-bar-bar .am-tab-bar-tab-title {font-size:32px; color:#108ee9!important;}
#TrainIndex-searchList .am-list-item .am-list-line .am-list-extra {flex-basis:65%;}
/*loading图标*/
.am-toast-notice {top: 40%;}
